{% extends "homebase.html" %}
{% block title %}İletişim- {{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.title }}{% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

   {% block head %}
      <link rel="shortcut icon"  href="{{setting.icon.url}}"/>
   {% endblock %}



{% block content %}
    <section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="inner-heading">
              <h2>İletişim</h2>
            </div>
          </div>
          <div class="span8">
            <ul class="breadcrumb">
              <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
              <li><a href="/">Anasayfa</a><i class="icon-angle-right"></i></li>
              <li class="active">İletişim</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <div class="section">
      <div class="container">
        <div class="row">
             <div class="span4">
                 <div class="billing-title">

                     <div class="section-title">
                       <h3 class="title">İletişim Formu</h3>
                     </div>
                 {% if messages %}
                      {% for message in messages %}
                           <div class="alert alert-{{message.tags}}" role="alert">
                               {{message}}
                           </div>
                     {% endfor %}
                 {% endif %}

                 <form action="" method="post">
                     {% csrf_token %}
                     {{ form.as_p }}
                     <input type="submit" value="SEND FORM">

                 </form>

               </div>
             </div>
             <div class="span8">
                 <div class="section-title">
                       <h3 class="title">İletişim Bilgilerimiz</h3>
                 </div>
                 {{ setting.contact| safe }}

             </div>
        </div
      </div>
    </div>
{% endblock %}

