{% extends "homebase.html" %}
{% block title %} Referanslarımız-{{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.title }}{% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

   {% block head %}
      <link rel="shortcut icon"  href="{{setting.icon.url}}"/>
   {% endblock %}



{% block content %}
    <section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="inner-heading">
              <h2>Referanslarımız</h2>
            </div>
          </div>
          <div class="span8">
            <ul class="breadcrumb">
              <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
              <li><a href="/">Anasayfa</a><i class="icon-angle-right"></i></li>
              <li class="active">Referanslarımız</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="content">
      <div class="container">
        <div class="row">
            {{ setting.referances|safe }}
        </div>
      </div>
    </section>

{% endblock %}

